.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-size: 3rem;
}

button {
    background-color: #20283E;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border-radius: 1rem;
    transition: all 0.2s ease-in;
}

button:hover {
    color: #ffffff;
    transform: scale(1.1);
}